.banner {
    padding: 208px 0 185px; 
    background-image: url("../images/banner.png");
    min-height: 100vh; 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.banner-info {
    position: relative;
    z-index: 1;
}
.banner--info--title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    max-width: 670px;
    height: 168px;
    color: #FFFFFF;
    margin: 50px 0 0;
}
.banner--info--line {
    width: 170px;
    background-color: #FFFFFF;
    height: 1px;
    margin: 55px 0 0 0;
}
.banner--info--description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    margin: 42px 0 0 0;
    max-width: 270px;
}
.banner--info--button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 270px;
    height: 58px;
    background-color: transparent;
    margin: 42px 0 0;
}
.banner--info--button:hover {
    background: #EC7979;
    transition: 0.8s all;
}
.banner--reg {
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 208px;
    left: 700px;
    z-index: 1;
}
.banner--reg--title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    padding: 57px 0 0;
}
.colortext {
    color:  #EC7979;
}
.banner-input {
    max-width: 370px;
    width: 100%;
    margin: 30px 50px 0;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline:none;
}
.banner-input:first-child {
    margin: 45px 50px 0;
}
.banner--reg--button {
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    width: 470px;
    height: 60px;
    margin: 100px 0 0;
    border: none;
}
.banner--reg--button:hover {
    background: #c73232; 
    transition: 0.8s all;
}