.desing {
    padding: 104px 0 50px; 
    background-image: url("../images/bg.png");
    min-height: 100vh; 
}
.desing--title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 57px 0;
}
.desing--line {
    margin: 0 auto 0;
    width: 170px; 
    height: 1px; 
    background-color: #FFFFFF;
}
.desing--description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 49px 0 0;
}
.desind--button {
    border: 2px solid #FFFFFF;
    width: 370px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    margin: 73px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desind--button:hover {
    background: #EC7979;
    transition: 0.8s all;
}