@import url(./customers.css);
@import url(../fonts/font.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content {
    max-width: calc(1170px + 15px * 2);
    margin: 0 auto;
    padding: 0 15px;
}