<<<<<<< HEAD
=======
@import url(./desing.css);
@import url(../fonts/font.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conent {
    max-width: calc(1170px + 15px * 2);
    margin: 0 auto;
    padding: 0 15px;
}
>>>>>>> c911191df9cd086394342ffa303c82cc83a58559
