@import url(./awesome.css);
@import url(../fonts/font.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content {
    padding: 15px;
    max-width: calc(1170px+15px*2);
    max-width: 0 auto;
    width: 100%;
}
