.header {
    background-color: #000000;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.header--inner {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

.header--logo {
	position: relative;
	left: -35px;
}

.header--nav > a {
    font-family: 'Open Sans';
	color: #ffffff;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
    text-decoration: none;
    margin: 0 24px 0 0;
}

.header--nav > a:last-child {
	margin: 0;
}